# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# VS Code settings
.vscode/

# Large data files
*.csv
*.xlsx
*.xls

# System files
.DS_Store
Thumbs.db 
